html,
body {
    height: 100%;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.display-none
{
    display: none;
}

.display-block
{
    display: block;
}

/* Модальное окно по центру */
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
} 
/* Полоса прокрутки модального окна */
.att {
    max-height: 500px;
    overflow: auto;
    border-radius: 0.3rem; 
} 

/*.load {
    width:64px;
    height:64px;
    background-image: url("../img/loader_blue_64.gif");
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    display: none;
}*/

.load {
    width:64px;
    height:64px;
    background-image: url("../img/loader_blue_64.gif");
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    position: fixed;
    top: 82%;
    left: 50%;
    display: none;
}

.pager {
    z-index:999999;
    color: #000;
    background-color: #d4dbe0;
    border: 1px solid #d4dbe0;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    position: fixed;
    top: 75%;
    left: 80%;
    display: none;
}